<div id="container">
  <p>Введите начальное значение интервала</p>
  <input type="number" id="fromInitialValue" placeholder="начальное значение" class="">
  <p>Введите конечное значение интервала</p>
  <input type="number" id="toInitialValue" placeholder="конечное значение" class="">

  <p>Введите начальное значение ограничения</p>
  <input type="number" id="startLimit" placeholder="начальное значение " class="">
  <p>Введите конечное значение ограничения</p>
  <input type="number" id="endLimit" placeholder="конечное значение" class="">
  <p><button (click)="setAdvancedSliderTo()">Применить новые значения</button></p>

  <h3>Выбран интревал от {{advancedSlider.onUpdate?.from}} до {{advancedSlider.onUpdate?.to}})</h3>
  <ion-range-slider #advancedSliderElement type="double" min="0" max="100" from="28" to="45" grid="true" grid_num="10"
    decorate_both="false" (onUpdate)="update(advancedSlider, $event)" (onChange)="update(advancedSlider, $event)"
    (onFinish)="finish(advancedSlider, $event)"></ion-range-slider>
  <p>Значение валидно: {{intervalValid}}</p>
</div>